
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

body{
  background-image: url('../app/images/iron-yard-bg.jpg');
}

img {
  max-width: 100%;
}

.wrapper {
  background-image: url("../images/iron-yard-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  padding: 0;
}

.good-template,
.bad-template {
  height: 600px;
  width: 400px;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
}

.bad-template {
  float: right;
}
