
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.bg {
  padding: 0;
}

.wrapper {
  background-image: url("../images/iron-yard-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  padding: 0;
}

.header {
  text-align: center;
  color: white;
  h1 {
  font-size: 90px;

  }
}

.good-template,
.bad-template {
  display: inline-block;
  margin: 0 auto;
  text-align: center;
}

.bad-template {
  float: right;
}

.fighters {
  color: white;
  img {
    height: 500px;
  }
}

.atk-btn {
  position: relative;
}

.attack-button {
  margin: 0 auto;
  background: none;
  position: center;
}

button{
  margin-left: 43%;
  background-color: black;
  margin-top: 0;
  border-radius: 0.5px;
  color: white;
}

.btn{
  border-radius: 0;
  width: 155px;
}

.btn:hover{
  color: #00A89F;
}


div.logo{
  margin-top: 200px;
  margin-bottom: 0;
}
