<div class="fighters col-md-12">
  <img class="each-character" src="{{image}}" alt='{{name}}' />
    <div class="figter-info">
  <h3>{{name}}</h3>
  <h5>Weapon of choice: '{{weapon}}'</h5>
  <div class="health-bar"></div>
</div>
</div>
